cmake_language_server/version.py

/build/
/dist/
__pycache__/

.tox/

.coverage
coverage.xml

.pdm-python
__pypackages__/

.pdm-build/
debian/.debhelper/
debian/*debhelper*
debian/cmake-language-server/
debian/cmake-language-server.substvars
debian/files
Dockerfile
.mechanicus-work/
